<ion-header>
  <ion-toolbar color="secondary">
    <ion-title size="large" class="ion-text-center">
      New Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="entry.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mood</ion-label>
      <ion-input [(ngModel)]="entry.mood"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Intensity from 0 to 10</ion-label>
      <ion-input [(ngModel)]="entry.intensity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Situation/Activity</ion-label>
      <ion-input [(ngModel)]="entry.situation"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-row>
      <ion-col width-50 style="text-align: right;">
        <ion-button type="submit" (click)="goToEntryList()" class="save-button">
          <ion-icon name="close-outline">Cancel</ion-icon>
        </ion-button>
      </ion-col>
      <ion-col width-50 style="text-align: left;">
        <ion-button type="submit" (click)="insertNewEntry(entry)" class="save-button">
          <ion-icon name="checkmark">Save</ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

