<ion-header>
  <ion-toolbar color="secondary">
    <ion-title size="large" class="ion-text-center">
      New Entry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="entry.title"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Mood</ion-label>
      <ion-input [(ngModel)]="entry.mood"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-list>
        <ion-radio-group allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup [(ngModel)]="entry.mood">
        <ion-grid>
          <ion-row>
            <ion-item *ngFor="let item of radio_list" (ionFocus)="radioFocus()" (ionSelect)="radioSelect($event)"
              (ionBlur)="radioBlur()">
              <ion-label>{{item.icon}}</ion-label>
              <ion-radio mode="md" slot="start" name="{{item.name}}" value="{{item.value}}"
                color="{{item.color}}" disabled="{{item.disabled}}"></ion-radio>
            </ion-item>
        </ion-row>
        </ion-grid>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Intensity from 0 to 10</ion-label>
      <ion-input [(ngModel)]="entry.intensity"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Situation/Activity</ion-label>
      <ion-input [(ngModel)]="entry.situation"></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-row>
      <ion-col width-50 style="text-align: right;">
        <ion-button type="submit" (click)="goToEntryList()" class="save-button">
          <ion-icon name="close-outline">Cancel</ion-icon>
        </ion-button>
      </ion-col>
      <ion-col width-50 style="text-align: left;">
        <ion-button type="submit" (click)="insertNewEntry(entry)" class="save-button">
          <ion-icon name="checkmark">Save</ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>

