.header-class-toolbar{
  --min-height: 70px;
 }

 .header-class-title{
  color: #172be4;
 }

.entry-title {
  margin-top: 5%;
  align-items: center;
  font-size: large;
}
ion-toolbar{
  --background: #69DC9E;
  //--color: white;
  min-height: 70px;
  font-size: large;
  display: flex;
  align-items: center;
}
