<ion-header>
  <ion-toolbar color="secondary">
    <ion-title size="large" class="ion-text-center">
      Entry Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Entry</ion-card-title><br>
      <ion-card-subtitle> Details about this entry</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-list no-lines>
            <ion-item *ngIf="currentEntry" color="light">
              <ion-label style="white-space: pre-line">
                <h2>Titel</h2>
                <p>{{currentEntry.title}}</p><br>
                <h2>Mood</h2>
                <p>{{currentEntry.mood}}</p><br>
                <h2>Intensity of mood</h2>
                <p>{{currentEntry.intensity}}</p><br>
                <h2>Sitation/Activity</h2>
                <p>{{currentEntry.situation}}</p><br>
                <h2>Created at</h2>
                <p>{{currentEntry.created_at | date: 'dd/MM/yyyy hh:mm'}}</p><br>
              </ion-label>
            </ion-item>
        </ion-list>
        <ion-button (click)="goToEntryList()">
          Back
        </ion-button>
        <!-- <ion-button (click)="deleteEntrybyID(id)">
          Delete
        </ion-button> -->
    </ion-card-content>
  </ion-card>
</ion-content>


