<ion-header>
  <ion-toolbar color="secondary">
    <ion-title size="large" class="ion-text-center">
      Entry Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<!-- <ion-item *ngIf="currentEntry" color="light">
  <ion-list>
      <ion-card>
        <ion-icon name="clipboard-outline" color="secondary"></ion-icon>
        <ion-label>
          <p>Titel:</p>
        </ion-label>
        <ion-label>
          <h2>{{currentEntry.title}}</h2><br>
        </ion-label>
      </ion-card>

    <ion-card>
      <ion-icon name="clipboard-outline" color="secondary"></ion-icon>
      <ion-label >
        <p>Mood:</p>
      </ion-label>
      <ion-label>
        <h2>{{currentEntry.mood}}</h2><br>
      </ion-label>
    </ion-card>

  <ion-card>
    <ion-icon name="clipboard-outline" color="secondary"></ion-icon>
    <ion-label>
      <p>Situation:</p>
    </ion-label>
    <ion-label>
      <h2>{{currentEntry.situation}}</h2><br>
    </ion-label>
  </ion-card>

  <ion-card>
    <ion-icon name="clipboard-outline" color="secondary"></ion-icon>
    <ion-label>
      <p>Created at:</p>
    </ion-label>
    <ion-label>
      <h2>{{currentEntry.created_at | date: 'dd/MM/yyyy hh:mm'}}</h2><br>
    </ion-label>
  </ion-card>

  </ion-list>
</ion-item>
  <ion-button (click)="goToEntryList()">
    Back
  </ion-button> -->
  <!--///////////////////////////////////////////////////////////////////////////////////////////77-->
  <ion-card color="white">
    <ion-card-header>
      <ion-card-title>My Entry</ion-card-title><br>
      <ion-card-subtitle> Details about this entry</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ion-list no-lines>
            <ion-item *ngIf="currentEntry" color="secondary" class="rund">
              <ion-label style="white-space: pre-line">
                <ion-icon name="book" color="tertiary"></ion-icon>
                <!-- <p>Titel:<p> -->
                <h2>{{currentEntry.title}}</h2><br>
                <ion-icon name="happy" color="tertiary"></ion-icon>
                <!-- <p>Mood:</p> -->
                <h2>{{currentEntry.mood}}</h2><br>
                <!-- <ion-icon name="clipboard-outline" color="secondary"></ion-icon> -->
                <!-- <p>Intensity of mood:</p> -->
                <!-- <h2>{{currentEntry.intensity}}</h2><br> -->
                <ion-icon name="clipboard" color="tertiary"></ion-icon>
                <!-- <p>Sitation/Activity:</p> -->
                <h2>{{currentEntry.situation}}</h2><br>
                <ion-icon name="calendar-number" color="tertiary"></ion-icon>
                <!-- <p>Created at:</p> -->
                <h2>{{currentEntry.created_at | date: 'dd/MM/yyyy hh:mm'}}</h2><br>
              </ion-label>
            </ion-item>
          <ion-button (click)="goToEntryList()" class="center">
            Back
          </ion-button>
        </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>


