ion-header {
	ion-toolbar {
    height: 120px;
		border-radius: 0 0 60px 60px;
		overflow: hidden;
    display: flex;
    align-items: center;
	}
}

ion-title.title-large {
  font-size: 40px;
}
.transform {
  overflow: visible;
  //transform: translateY(-50%);
  z-index: 99999;
}

//-------------SLIDES-------------


.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}


b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

.slides-ios {
    --bullet-background: var(--ion-color-step-200, #cccccc);
    --bullet-background-active: var(--ion-color-primary, #297373);
    --progress-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --progress-bar-background-active: var(--ion-color-primary-shade, #297373);
    --scroll-bar-background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --scroll-bar-background-active: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}
