<ion-header>
  <ion-toolbar class="header-class-toolbar">
    <ion-title class="header-class-title">
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">My Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Illustration of taken pills</ion-card-subtitle>
      <ion-card-title>Pills</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- <ion-footer>
  <ion-grid>
    <ion-row no-padding no-margin>
      <ion-toolbar class="footerclass">
        <ion-col class="ion-no-padding">
          <ion-button (click)="goToDashboard()">
            <ion-icon slot="icon-only" name="stats-chart" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button (click)="goToNewEntry()">
            <ion-icon slot="icon-only" name="add" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button (click)="goToEntryList()">
            <ion-icon slot="icon-only" name="list" size="large"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="ion-no-padding">
          <ion-button (click)="goToMedpack()">
            <ion-icon slot="icon-only" name="medkit" size="large"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-toolbar>
    </ion-row>
  </ion-grid>
</ion-footer> -->
