<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>hallo das ist die dashboardseite</h2>
  <!-- <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Dashboard</ion-label>
        <ion-badge>new</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="entry">
        <ion-icon name="add"></ion-icon>
        <ion-label>New Entry</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="list"></ion-icon>
        <ion-label>Entrylist</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="medpack">
        <ion-icon name="medkit"></ion-icon>
        <ion-label>Medpack</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>


<!-- Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Footer - No Border</ion-title>
  </ion-toolbar>
</ion-footer>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>

<!-- Fade Footer -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
