// .header-class-toolbar{
//   --min-height: 70px;
//  }

.header-class-title{
  color: #822ccc;
 }

 ion-item-divider{
  padding: 20px;
}

ion-toolbar, ion-toolbar-content {
  align-items: center;
}

ion-toolbar{
  --background: #69DC9E;
  //--color: white;
  min-height: 70px;
  font-size: large;
  display: flex;
  align-items: center;
}
