<ion-header>
  <ion-toolbar color="secondary">
    <ion-title size="large" class="ion-text-center">
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="transform" color="primary">
    <ion-card-header>
      <ion-card-title>Mood</ion-card-title>
      <ion-card-subtitle>Illustration of my mood and the according intensity</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="transform" color="primary">
    <ion-card-header>
      <ion-card-title>Date</ion-card-title>
      <ion-card-subtitle>Illustration of time</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>


