ion-header {
	ion-toolbar {
    height: 120px;
		border-radius: 0 0 60px 60px;
		overflow: hidden;
    display: flex;
    align-items: center;
	}
}

ion-title.title-large {
  font-size: 40px;
}
.transform {
  overflow: visible;
  //transform: translateY(-50%);
  z-index: 99999;
}

//-------------SLIDES-------------
ion-slides {
  height: 100%;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}


b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}
