<ion-header>
  <ion-toolbar color="secondary">
    <ion-title size="large" class="ion-text-center">
      Calendar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-datetime presentation="time-date" size="cover" class="calendar">
  </ion-datetime>
  <ion-row>
    <ion-col class="pilltaken">
      <ion-button (click)="insertNewDate(date)">Pill taken</ion-button>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item *ngFor="let date of dates">
      <ion-label>
        <p>Taken at</p>
        <h2>{{date.created_at | date: 'dd/MM/yyyy hh:mm'}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
-->

<ion-card  style="text-align: center;">
  <ion-button id="open-modal" class="align" color="secondary">
    <ion-icon size="large" name="calendar-outline" color="primary" class="align"></ion-icon>
  </ion-button>
</ion-card>
  <ion-modal trigger="open-modal" [swipeToClose]="true">
    <ng-template>
      <ion-content>
        <ion-datetime presentation="time-date" size="cover" class="calendar"></ion-datetime>
        <ion-row>
          <ion-col class="pilltaken">
            <ion-button (click)="dismissModal()">Cancel</ion-button>
          </ion-col>
          <ion-col class="pilltaken">
            <ion-button (click)="insertNewDate(date)">Pill Taken</ion-button>
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>



<ion-card color="primary" class="center">
  <ion-card-header>
    <h2>Taken at: </h2>
  </ion-card-header>
  <ion-list lines="none">
    <!-- <ion-item *ngFor="let date of dates; trackBy: trackByfn; let i = index" color="primary" > -->
    <ion-item *ngFor="let date of dates" color="primary">

      <ion-label class="align">
       <!-- <h2 *ngIf="i<3">{{date.created_at | date: 'dd/MM/yyyy hh:mm'}}</h2> -->
        <h2>{{date.created_at | date: 'dd/MM/yyyy hh:mm'}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>


</ion-content>


