ion-toolbar{
  --background: #69DC9E;
  //--color: white;
  min-height: 70px;
  font-size: large;
  display: flex;
  align-items: center;
}

.header-class-title{
  color: #172be4;
 }

 .toolbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
 }




