
// .header-class-toolbar{
//   --min-height: 70px;
//   --background-color: #69DC9E;
//  }

 .header-class-title{
  color: #822ccc;
 }

ion-toolbar{
  --background: #69DC9E;
  //--color: white;
  min-height: 70px;
  font-size: large;
  display: flex;
  align-items: center;
}

ion-toolbar, ion-toolbar-content {
  align-items: center;
}
.eintragclass{
  margin-top: 20px;
}

ion-item-divider{
  padding: 20px;
}


