/* #container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
} */

// .ion-footer, ion-toolbar{
//   --min-height: 70px;
//   background-color: #69DC9E;
// }

// ion-toolbar, ion-header{
//   min-height: 70px;
//   background-color: #69DC9E;
// }

.header-class-toolbar{
  --min-height: 70px;
  --background-color: #69DC9E;
 }

 .header-class-title{
  background-color: #69DC9E;
 }

ion-toolbar, ion-toolbar-content {
  align-items: center;
}
.eintragclass{
  margin-top: 20px;
}

/* ion-col {
  border: 3px solid red;
  align-items: center;
} */

ion-item-divider{
  padding: 20px;
}


